* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --bg-color: #f0f2f5;
  --primary-bg: #fff;
  --font-color: #5f5f5f;
  --list-color: #00000099;
  --border-color: #000000e6;
  --online-color: #045be6;
  --hover-color: rgba(0, 0, 0, 0.9);
  --color-background-none-tint-hover: rgba(0, 0, 0, 0.08);
  --color-action: #0a66c2;
  --color-border: rgba(0, 0, 0, 0.6);
}

body {
  background: var(--bg-color);
  min-height: 100vh;
  position: relative;
}

/* ---------------------NAV-BAR-START--------------------------- */
nav {
  display: flex;
  padding: 6px 6%;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  background: var(--primary-bg);
  box-shadow: var(--box-shadow);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
a {
  text-decoration: none;
}

.nav-bar-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-bar-left .logo {
  width: 30px;
  cursor: po;
}

.nav-bar-left .searchbar {
  width: 250px;
  display: flex;
  align-items: center;
  background: #eef3f8;
  border-radius: 8px;
  margin-left: 10px;
  transition: width 0.3s;
  border: 2px solid transparent;
  overflow: hidden;
}

.nav-bar-left .searchbar img {
  width: 15px;
  margin-left: 10px;
}

.nav-bar-left .searchbar input {
  width: 100%;
  padding: 8px;
  border: 0;
  outline: 0;
  background: #eef3f8;
}

.nav-bar-left .searchbar.fullWidth {
  width: 469px;
  border-color: var(--font-color);
}

.nav-bar-center {
  display: flex;
  align-items: flex-end;
  flex: 1;
  border-right: 1px solid #ccc;

  /* background: red; */
}

.nav-bar-center ul {
  list-style: none;
  width: 90%;
  text-align: center;
}

.nav-bar-center ul li {
  display: inline-block;
  align-items: center;
  width: 18%;

  text-align: center;
  position: relative;
  transition: width 0.5s;
  /* align-items: flex-start; */
}

.nav-bar-center ul li a {
  align-items: center;
  text-decoration: none;
  color: var(--list-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-size: 12px;
}

.nav-bar-center ul li a span {
  display: block;
  align-items: center;
  font-size: 14px;
}

.nav-bar-center ul li a img {
  width: 40px;
  margin-bottom: -5px;
}

.nav-bar-center ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: var(--font-color);
  bottom: -9px;
  left: 0;
  position: absolute;
}
.nav-bar-center ul li.activelink::after {
  width: 100%;
}

.user-profile-pic {
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.down-arrow {
  width: 10px;
  margin-left: 4px;
}

.user-pic {
  margin-left: 8px;
  align-items: center;
  cursor: pointer;
  background: #fff;
  margin-right: 40px;
}

.user-pic div {
  display: flex;
  align-items: center;
  color: var(--list-color);
}

.nav-bar-center ul .active-links a:hover,
.user-pic div:hover {
  color: var(--font-color);
}

.nav-bar-right {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-left: 10px;
}

.lhs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.nav-bar-right .gridicon {
  width: 25px;
  margin-bottom: 8px;
}

.work {
  display: flex;
  align-items: center;
  color: var(--list-color);
}

.premium {
  text-align: center;
  margin-left: 10px;
  color: var(--list-color);
  text-decoration: underline;
}
/* ---------------------NAV-BAR-END--------------------------- */
/* -------------------------MAIN SECTION START---------------------- */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 6%;
  margin-top: 70px;
}
/* ------------------------LEFT SIDE BAR------------------------------- */
.left-side-bar {
  flex-basis: 18%;
  /* position: sticky;
  top: 75px; */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  /* align-self: flex-start; */
  /* overflow: hidden; */
}

.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-bg);
  border-bottom: 1px solid #ccc;
}

.userName {
  display: block;
  margin-top: 70px;
  color: var(--font-color);
  font-weight: 500;
  cursor: pointer;
}

.profile-pic b {
  margin-top: 10px;
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 14px;
}

.userName:hover {
  text-decoration: underline;
}
.userProfile-pic {
  width: 90px;
  border-radius: 50%;
  margin: -45px auto;
  background: #fff;
  padding: 3px;
}

.connections {
  background: var(--primary-bg);
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.connections a {
  width: 100%;
}
.subconnect {
  display: flex;
  align-items: flex-start;
  padding: 0 12px;
  font-size: 14px;
  color: var(--font-color);
}

.subconnect a {
  color: var(--font-color);
}

.connections b {
  padding-left: 12px;
  font-size: 14px;
  font-weight: 500;
}

.connect-frame {
  padding: 5px 0;
}
.connect-frame:hover {
  background: var(--color-background-none-tint-hover);
}

.xclusiveTools {
  padding: 20px 12px;
  background: var(--primary-bg);
  border-bottom: 1px solid #ccc;
}

.xclusiveTools p {
  font-size: 14px;
  color: var(--font-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.xclusiveTools a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--hover-color);
  text-decoration: underline;
}

.xclusiveTools a img {
  width: 15px;
  margin-right: 4px;
}

.xclusiveTools:hover {
  background: var(--color-background-none-tint-hover);
}

.my-items {
  padding: 20px 12px;
  background: var(--primary-bg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
}

.my-items a img {
  width: 15px;
  margin-right: 8px;
}

.my-items a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--font-color);
  font-weight: 500;
}

.my-items:hover {
  background: var(--color-background-none-tint-hover);
}

.userlinks-frames {
  position: sticky;
  align-self: flex-start;
  top: 80px;
}
.user-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12px;
  background: var(--primary-bg);
  border-bottom: 1px solid #ccc;
}

.menu-links a {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  color: #0a66ca;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.menu-links a:hover {
  text-decoration: underline;
}

.user-links b {
  font-size: 24px;
  font-weight: 500;
  color: var(--font-color);
}

.discover {
  display: block;
  margin: auto;
  text-align: center;
  align-items: center;
  background: var(--primary-bg);
  padding: 20px 10px;
  color: var(--font-color);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* --------------------------END LEFT SIDE BAR------------------------ */
/* ----------------------------MAIN-CONTENT------------------------------ */
.main-content {
  flex-basis: 54%;
}

.job-search {
  text-align: center;
  padding: 20px;
  background: var(--primary-bg);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--list-color);
  line-height: 24px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.job-search .jobsearch {
  width: 200px;
  margin-bottom: 20px;
}

.job-search h1 {
  font-size: 20px;
  margin: 15px 0;
  color: var(--border-color);
}

.job-search a {
  padding: 5px 8px;
  border: 2px solid #0a66ca;
  display: inline-block;
  width: 48%;
  text-align: center;
  border-radius: 20px;
  color: #0a66ca;
  align-items: center;
  border-width: 2px solid transparent;
  margin: 20px 0 5px;
  outline: 0;
}

.job-search a:hover {
  box-shadow: inset 0 0 0 2px var(--color-action);

  background: rgba(112, 181, 249, 0.2);
}

.user-post-section {
  background-color: var(--primary-bg);
  padding: 20px 25px 10px;
  border-radius: 10px;
}

.write-post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.write-post img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

.write-post input {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  resize: none;
  outline: 0;
  border: 1px solid #ccc;
  margin-top: 5px;
}
::placeholder {
  color: #777;
  font-weight: 600;
  font-size: 14px;
}

.post-links {
  display: flex;
}

.post-links li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 25%;
  height: 40px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.post-links li img {
  width: 25px;
  margin-right: 13px;
  cursor: pointer;
}

.sortbytop {
  display: flex;
  align-items: center;
}

.sortbytop hr {
  flex: 1;
  border: 0;
  height: 1px;
  background: #ccc;
}

.sortbytop p {
  padding: 8px;
  font-size: 14px;
  color: #ccc;
}

.sortbytop p span {
  font-weight: 600;
  color: #777;
}

.sortbytop p span img {
  width: 12px;
  margin-left: 5px;
}

/* ------------------------POST AREA SETUP------------------ */
.post-area-cover {
  /* background: rgb(0, 0, 0); */
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 100%,
    rgba(2, 9, 11, 0.01) 100%
  );
  width: 100%;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  z-index: 20;
}

.postArea-wrap {
  overflow: hidden;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.post-area {
  padding: 20px 25px 10px;
  width: 100%;
}

.top-section-post {
  display: flex;
  padding: 10px 8px;
  border-radius: 15px;
}

.top-section-post:hover {
  background: var(--color-background-none-tint-hover);
}

.write-post {
  align-items: flex-start;
  justify-content: space-between;
}
.write-post div h1 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.write-post div h1 img {
  width: 15px;
  margin-left: 8px;
  margin-top: 0;
}

.write-post div small {
  color: #222;
}

.post-area textarea {
  width: 100%;
  resize: none;
  margin-top: 10px;
  border: 0;
  outline: none;
  font-size: 20px;
}

.post-area ::placeholder {
  font-size: 20px;
  font-weight: 500;
}

.post-link-icons {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.post-link-icons img {
  width: 20px;
  margin-right: 15px;
  -webkit-filter: grayscale(100%);
}

.post-area hr {
  margin: 20px 0;
}

.post-time {
  float: right;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.post-time .fa-regular {
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  color: #777;
}

.post-time .fa-regular:hover {
  background: #ccc;
}

.post-time span {
  padding: 7px 15px;
  background: #ccc;
  border-radius: 20px;
  color: #777;
  margin-left: 13px;
}

.closeBtn {
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
  font-weight: normal;
}

.post-section {
  background: #fff;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.post {
  padding: 20px 25px 10px;
  margin-bottom: 2px;
  border-bottom: 1px solid #ccc;
}

.user-post-pic div:first-child {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #333;
  font-weight: 600;
}

.user-post-pic div span {
  color: #ccc;
  font-size: 12px;
  font-weight: 400;
  margin-left: 4px;
}

.user-post-pic div:last-child {
  font-weight: bold;
  color: #777;
  font-size: 20px;
}
.user-post-pic img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-post-pic {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.post-top hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px auto;
}

.post-user-profile-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-profile-details {
  display: flex;
  align-items: flex-start;
}
.post-profile-details div {
  margin-top: 5px;
}

.post-profile-details img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-profile-details h2 {
  font-size: 14px;
}

.post-profile-details h2 b {
  color: #5f5f5f;
}

.post-follow {
  font-size: 16px;
  color: #0a66ca;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.user-post {
  margin: 10px auto;
  color: #5f5f5f;
}

.more {
  text-align: right;
  font-size: 13px;
  color: #777;
}

.post-profile-details small {
  display: block;
  color: #5f5f5f;
}

.likes-activity {
  padding: 10px 25px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.likes-activity p {
  font-size: 14px;
  color: #777;
}

.likes-activity div:first-child p {
  margin-left: 5px;
}

.likes-activity div:first-child {
  display: flex;
}
.likes-activity div:first-child img {
  margin-left: -8px;
}

.firstCom {
  float: right;
}

.divider {
  display: inline-flex;
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

.post-user-activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  border-top: 1px solid #ccc;
}

.post-activity-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-activity-links img {
  width: 25px;
  margin-right: 10px;
  display: inline-flex;
}

.post-activity-links p {
  font-size: 13px;
}

.post-recommed-frame {
  padding: 20px 25px 10px;
  color: #222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.post-recommed-frame .top-recommend {
  display: flex;
  justify-content: space-between;
}

.mid-recommendations {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.mid-recommendations .mid-recommendations-top {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.mid-recommendations .mid-recommendations-top img {
  width: 50px;
  margin-right: 20px;
}
.mid-recommendations .mid-recommendations-top p {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 10px;
}

.mid-recommendations .follow-btn2 {
  padding: 8px 24px;
  border: 1px solid #0a66c2;
  color: #0a66c2;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.mid-recommendations small {
  display: block;
  color: #5f5f5f;
  font-size: 16px;
  margin-bottom: 5px;
}

.mid-recommendations small:last-child {
  font-size: 12px;
}
/* ----------------------------RIGHT SIDE BAR------------------------------ */
.right-side-bar {
  flex-basis: 25%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  /* position: sticky;
  align-self: start;
  top: 73px; */
}

.feedAd {
  display: flex;
  justify-content: space-between;
  padding: 20px 12px 10px;
  background: var(--primary-bg);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.feedAd a {
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--list-color);
}

.feedAd p {
  font-size: 12px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--list-color);
}
.userFollow-section-frame {
  background: var(--primary-bg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.userFollow-section {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  padding: 10px 12px 0;
  align-items: flex-start;
  background: transparent;
  line-height: 20px;
  font-weight: 500;
}

.userFollow-section img {
  width: 40px;
  border-radius: 50%;
}

.userFollow-section div {
  margin-left: 8px;
}

.userFollow-section div h1 {
  font-size: 14px;
  color: var(--border-color);
  font-family: -apple-system, system-ui, sans-serif;
  font-weight: 500;
}

.follow-btn {
  padding: 6px 16px;
  width: 96px;
  border: 1px solid var(--border-color);
  display: flex;
  border-radius: 20px;
  margin-top: 5px;
  font-size: 12px;
  color: var(--list-color);
  font-weight: 700;
  align-items: center;
  text-align: center;
  outline: 0;
}

.follow-btn b {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}

.follow-btn:hover {
  box-shadow: inset 0 0 0 2px var(--color-border);
  background: var(--color-background-none-tint-hover);
}

.viewrecommend {
  display: flex;
  align-items: center;
  margin: 10px auto;
  padding: 8px 12px 10px;
  font-size: 14px;
  color: var(--list-color);
}

.viewrecommend img {
  width: 15px;
  margin-left: 8px;
}

.right-side-bar .hiring {
  border-radius: 10px;
  position: sticky;
  align-self: flex-start;
  top: 80px;
}

.setting-userprofile-wrapper {
  position: absolute;
  top: 100%;
  right: 20%;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: max-height 0.5s;
  max-height: 0;
}

.setting-userprofile-wrapper.finalHeight {
  max-height: 500px;
}

.setting-frame {
  padding: 20px 15px;
  border-bottom: 1px solid #ccc;
}

.setting-wrapper {
  width: 300px;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.settings-name {
  font-size: 16px;
  color: #222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.user-portfolio {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.user-portfolio img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.setting-frame a {
  padding: 5px 95px;
  width: 100%;
  border: 2px solid #0a66c2;
  border-radius: 18px;
  margin-bottom: 10px;
}

.accounts {
  padding: 20px 15px 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 1px solid #ccc;
}

.accounts h3 {
  font-size: 14px;
  color: #222;
  margin-bottom: 13px;
}

.accounts a {
  display: block;
  color: #777;
  margin-bottom: 10px;
}

.accounts a img {
  width: 15px;
}

.signout-btn {
  padding: 5px 15px;
  margin: 10px 0;
  display: flex;
  color: #777;
}

/* -------------------------PROFILE--------------------------- */

.main-profile-frame {
  flex-basis: 73%;
}

.user-detail {
  width: 170px;
  border-radius: 50%;
  padding: 5px;
  background: #fff;
  margin-top: -120px;
  margin-left: 50px;
}

.user-profile-cover {
  background: #fff;
  padding-bottom: 10px;
  color: #777;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #ccc;
  border-top: 1px solid transparent;
}
.user-profile-details {
  display: flex;
  justify-content: space-between;
  padding: 25px 25px 10px;
}

.coverimg {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.profile-section-btns {
  padding: 0px 25px;
}

.profile-section-btns a {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 8px;
}
.profile-section-btns a.btn-1 {
  background: #0a66c2;
  color: #fff;
}

.profile-section-btns a.btn-1:hover {
  background: #032a69;
}

.profile-section-btns a:nth-child(2) {
  color: #0a66c2;
  border: 1px solid #0a66c2;
  border-width: 1px;
}

.profile-section-btns a:nth-child(2):hover {
  background-color: var(--color-background-none-tint-action-hover);
  color: var(--color-action);
  box-shadow: inset 0 0 0 2px var(--color-action);
}

.profile-section-btns a:nth-child(3):hover {
  background-color: var(--color-background-none-tint-hover);
  color: var(--color-text-low-emphasis-shift);
  box-shadow: inset 0 0 0 2px var(--color-border);
}

.contact-info {
  color: #0a66c2;
  font-weight: 600;
}

.user-profile-cover div span {
  color: #0a66c2;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
}

.slider-cover {
  width: 950px;
  overflow: hidden;
}
.slider1 {
  max-width: 400px;
  max-height: 80px;
  height: 100%;
  margin-right: 15px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.slider1 p {
  display: inline-block;
  font-size: 14px;
  color: #333;
}

.slider1 p span {
  color: #222;
  margin-top: 0px;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
}

.slider1 a {
  display: block;
  font-size: 14px;
  color: #222;
}

.swiper-wrapper {
  padding: 15px 20px;
  width: 100%;
}

.swiper {
  max-width: 1200px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 10px;
}

.profile-name {
  font-size: 18px;
  color: #222;
}

.pfm {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}
.slider1 a.getStarted-btn {
  color: #0a66c2;
  font-weight: 600;
}

.showcase-text {
  font-size: 14px;
}

.company-history {
  margin-bottom: 10px;
  display: block;
  color: #222;
}

.analytics-frame {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.analytics {
  padding: 20px 25px 0;

  color: #222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.analytics-wrapper {
  display: flex;
}

.analytics-wrapper .analytic-div {
  margin-right: 60px;
}

.analytics h3 {
  font-size: 18px;
  font-weight: 500;
}

.analytics h4 {
  font-weight: 550;
  color: #555;
  font-family: "Poppins", sans-serif;
}

.analytics h4 b {
  font-weight: 500;
  padding: 5px 10px;
  background: #ccc;
  margin-left: 5px;
  border-radius: 15px;
}

.analytics h3 ~ p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #999;
}
.analytic-div {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.analytic-div .fa-solid {
  margin-right: 10px;
  margin-top: 5px;
}

.analytic-div a {
  color: #5f5f5f;
  font-size: 14px;
  font-weight: 400;
}

.analytic-div .access-tools {
  width: 100%;
  border-bottom: 1px solid #777;
  padding-bottom: 15px;
}

.analytic-div .access-tools.moreaccess {
  border-bottom: 1px solid transparent;
}

.analytics-wrapper .analytic-div .access-tools {
  border-bottom: 0;
}

.show-more {
  border-top: 1px solid #ccc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 13px 0;
  font-size: 18px;
  color: #5f5f5f;
  font-weight: 600;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.show-more img {
  width: 15px;
  margin-left: 5px;
  margin-top: 3px;
}
/* -----------------------RIGHT-SIDE-------------------- */
.right-profile-frame2 {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 85px;
}

.add-profile {
  padding: 20px 25px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.top-add {
  border-bottom: 1px solid #eef3f8;
  padding: 20px 0;
  color: #777;
}

.top-add a {
  color: #777;
  font-weight: 500;
}

.top-add-2 {
  padding: 20px 0 0;
}

.top-add-2 a {
  color: #777;
  max-width: 200px;
  font-weight: 500;
  display: flex;
}

.add-profile .add-site {
  display: flex;
  text-align: right;
  float: right;
  margin-bottom: 10px;
  color: #999;
  font-size: 12px;
}

.key-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.key-frame .user-profile-pix {
  width: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.key-frame img {
  width: 70px;
}

.add-profile .learning {
  text-align: center;
}

.add-profile .unluck-btn {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  margin: 20px auto 0;
  color: #0a66c2;
  font-weight: 500;
  border: 1px solid #0a66c2;
  padding: 8px 15px;
  border-radius: 20px;
}

.add-profile .viewrecommend {
  border-top: 1px solid #ccc;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
