* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --bg-color: #f0f2f5;
  --primary-bg: #fff;
  --font-color: #5f5f5f;
  --list-color: #00000099;
  --online-color: #045be6;
  --hover-color: rgba(0, 0, 0, 0.9);
  --color-background-none-tint-hover: rgba(0, 0, 0, 0.08);
}

body {
  background: var(--bg-color);
  min-height: 100vh;
}

/* ---------------------NAV-BAR-START--------------------------- */
nav {
  display: flex;
  padding: 6px 6%;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  background: var(--primary-bg);
  box-shadow: var(--box-shadow);
}
a {
  text-decoration: none;
}

.nav-bar-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-bar-left .logo {
  width: 30px;
  cursor: po;
}

.nav-bar-left .searchbar {
  width: 250px;
  display: flex;
  align-items: center;
  background: #eef3f8;
  border-radius: 8px;
  margin-left: 10px;
  transition: width 0.3s;
  border: 2px solid transparent;
  overflow: hidden;
}

.nav-bar-left .searchbar img {
  width: 15px;
  margin-left: 10px;
}

.nav-bar-left .searchbar input {
  width: 100%;
  padding: 8px;
  border: 0;
  outline: 0;
  background: #eef3f8;
}

.nav-bar-left .searchbar.fullWidth {
  width: 469px;
  border-color: var(--font-color);
}

.nav-bar-center {
  display: flex;
  align-items: flex-end;
  flex: 1;
  border-right: 1px solid #ccc;

  /* background: red; */
}

.nav-bar-center ul {
  list-style: none;
  width: 90%;
  text-align: center;
}

.nav-bar-center ul li {
  display: inline-block;
  align-items: center;
  width: 18%;

  text-align: center;
  position: relative;
  transition: width 0.5s;
  /* align-items: flex-start; */
}

.nav-bar-center ul li a {
  align-items: center;
  text-decoration: none;
  color: var(--list-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-size: 12px;
}

.nav-bar-center ul li a span {
  display: block;
  align-items: center;
  font-size: 14px;
}

.nav-bar-center ul li a img {
  width: 40px;
  margin-bottom: -5px;
}

.nav-bar-center ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: var(--font-color);
  bottom: -9px;
  left: 0;
  position: absolute;
}
.nav-bar-center ul li.activelink::after {
  width: 100%;
}

.user-profile-pic {
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.down-arrow {
  width: 10px;
  margin-left: 4px;
}

.user-pic {
  margin-left: 8px;
  align-items: center;
  cursor: pointer;
  background: #fff;
  margin-right: 40px;
}

.user-pic div {
  display: flex;
  align-items: center;
  color: var(--list-color);
}

.nav-bar-center ul .active-links a:hover,
.user-pic div:hover {
  color: var(--font-color);
}

.nav-bar-right {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-left: 10px;
}

.lhs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.nav-bar-right .gridicon {
  width: 25px;
  margin-bottom: 8px;
}

.work {
  display: flex;
  align-items: center;
  color: var(--list-color);
}

.premium {
  text-align: center;
  margin-left: 10px;
  color: var(--list-color);
  text-decoration: underline;
}
/* ---------------------NAV-BAR-END--------------------------- */
/* -------------------------MAIN SECTION START---------------------- */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 6%;
}

.left-side-bar {
  flex-basis: 18%;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-bg);
  border-bottom: 1px solid #ccc;
}

.userName {
  display: block;
  margin-top: 70px;
  color: var(--font-color);
  font-weight: 500;
  cursor: pointer;
}

.profile-pic b {
  margin-top: 10px;
  font-weight: 500;
  padding-bottom: 20px;
  font-size: 14px;
}

.userName:hover {
  text-decoration: underline;
}
.userProfile-pic {
  width: 90px;
  border-radius: 50%;
  margin: -45px auto;
  background: #fff;
  padding: 3px;
}

.connections {
  background: var(--primary-bg);
  padding: 20px 0px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.connections a {
  width: 100%;
}
.subconnect {
  display: flex;
  align-items: flex-start;
  padding: 0 12px;
  font-size: 14px;
  color: var(--font-color);
}

.subconnect a {
  color: var(--font-color);
}

.connections b {
  padding-left: 12px;
  font-size: 14px;
  font-weight: 500;
}

.connect-frame {
  padding: 5px 0;
}
.connect-frame:hover {
  background: var(--color-background-none-tint-hover);
}

.xclusiveTools {
  padding: 20px 12px;
  background: var(--primary-bg);
  border-bottom: 1px solid #ccc;
}

.xclusiveTools p {
  font-size: 14px;
  color: var(--font-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.xclusiveTools a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--hover-color);
  text-decoration: underline;
}

.xclusiveTools a img {
  width: 15px;
  margin-right: 4px;
}

.xclusiveTools:hover {
  background: var(--color-background-none-tint-hover);
}

.my-items {
  padding: 20px 12px;
  background: var(--primary-bg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
}

.my-items a img {
  width: 15px;
  margin-right: 8px;
}

.my-items a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--font-color);
  font-weight: 500;
}

.my-items:hover {
  background: var(--color-background-none-tint-hover);
}
.user-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12px;
  background: var(--primary-bg);
  border-bottom: 1px solid #ccc;
}

.menu-links a {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  color: #0a66ca;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.menu-links a:hover {
  text-decoration: underline;
}

.user-links b {
  font-size: 24px;
  font-weight: 500;
  color: var(--font-color);
}

.discover {
  display: block;
  margin: auto;
  text-align: center;
  align-items: center;
  background: var(--primary-bg);
  padding: 20px 10px;
  color: var(--font-color);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* --------------------------END LEFT SIDE BAR------------------------ */
.main-content {
  flex-basis: 54%;
}
/* ----------------------------RIGHT SIDE BAR------------------------------ */
.right-side-bar {
  flex-basis: 25%;
}

.feedAd {
  display: flex;
  justify-content: space-between;
  padding: 20px 12px;
  background: var(--primary-bg);
}

.feedAd a {
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--font-color);
}

.feedAd p {
  font-size: 12px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--font-color);
}
.userFollow-section-frame {
  background: var(--primary-bg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.userFollow-section {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  padding: 10px 12px 0;
  align-items: flex-start;
  background: transparent;
  line-height: 20px;
}

.userFollow-section img {
  width: 40px;
  border-radius: 50%;
}

.userFollow-section div {
  margin-left: 8px;
}

.userFollow-section div h1 {
  font-size: 14px;
}

.follow-btn {
  padding: 4px 12px;
  border: 1px solid #0a66ca;
  display: inline-block;
  border-radius: 20px;
  margin-top: 5px;
  font-size: 12px;
  color: var(--font-color);
}

.viewrecommend {
  display: flex;
  align-items: center;
  margin: 10px auto;
  padding: 10px 12px 20px;
  font-size: 14px;
  color: var(--font-color);
}

.viewrecommend img {
  width: 15px;
  margin-left: 8px;
}
